<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body>
	<div id="page" class="site<%- is_home() ? ' home' : '' %>">
		<%- partial('_partial/masthead') %>
		<main class="site-main site-content">
			<div class="wrap">
				<%- body %>
			</div>
		</main>
		<%- partial('_partial/footer') %>
	</div>
	<%- partial('_partial/after-footer') %>
</body>
</html>