<%- partial('_partial/head') %>
<body>
	<div id="page" class="site">
		<%- partial('_partial/masthead') %>
		<%- body %>
		<%- partial('_partial/footer') %>
	</div>
	<%- partial('_partial/after-footer') %>
</body>
</html>